.jumbotron{
 text-align: left;
 background-image: url("../img/galaxy.jpg");
 height: 40%vh;
}

.navbar-brand{
font-size: 50px;
}


.display-3{
font-size: 35px;
text-align: right;
}

.rounded-circle{
    vertical-align: middle;
    height: 50%;
    justify-content: center;

}